@charset "UTF-8";

article > table tr:nth-child(2)
{
	background-color:red;
}

aside
{
	background-color:yellow;
}

header > nav > span:nth-child(3)
{
	background-color:green;
}

header > nav > span:nth-child(2n){
	background-color:purple;
}